<nav style="display: flex; flex-direction: column">
  <a href="/">HOME</a>
  <a href="/login">LOGIN</a>
  <a href="/students">STUDENTS</a>
  <a href="/students/create">ADD NEW STUDENT</a>
  <a href="/students/gradesForm">TEST</a>

  <a href="/error">ERROR</a>
</nav>
